################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlappyBird AI/.vs/FlappyBird AI/v16/Server/sqlite3/storage.ide-wal
/FlappyBird AI/.vs/FlappyBird AI/v16
/FlappyBird AI/FlappyBird AI/obj/Release/FlappyBird AI.csprojAssemblyReference.cache
/FlappyBird AI/FlappyBird AI/obj/Release/FlappyBird AI.csproj.CoreCompileInputs.cache
/FlappyBird AI/FlappyBird AI/obj/Debug/FlappyBird AI.csprojAssemblyReference.cache
/FlappyBird AI/FlappyBird AI/obj/Debug/FlappyBird AI.csproj.CoreCompileInputs.cache
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
