################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlappyBird AI/.vs/FlappyBird AI/v16/Server/sqlite3/storage.ide-wal
/FlappyBird AI/.vs/FlappyBird AI/v16
